@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* font-family: 'Bai Jamjuree', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 1440px;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    
}

h1, h2, h3, h4, h5, h6{
    color: hsl(210, 10%, 33%);
}
p{
    color: hsl(201, 11%, 66%);
}
/* header code start here */

.top-parent{
    height: 100vh;
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.top-logo{
    width: 55%;
    padding-top: 130px;
    margin: auto;
}
.top-logo img{
    margin-bottom: 20px;
}
.top-logo h1{
    font-size: 45px;
    color: hsl(210, 10%, 33%);
    margin: 30px 0 20px 0;
}
.top-logo p{
    color: hsl(201, 11%, 66%);
    font-size: 22px;
}

.top-button{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    gap: 10px;
}

.top-button a{
    text-decoration: none;
    color: #fff;
    padding: 15px 50px;
    display: inline-block;
}

.top-button1{
    background-color: hsl(171, 66%, 44%);
    border-radius: 30px;
    box-shadow: 0px 4px 2px hsl(171, 67%, 33%);
}
.top-button1:hover{
    background-color: #5DCCBB;
}
.top-button2{
    background-color: hsl(233, 100%, 69%);
    border-radius: 30px;
    box-shadow: 0px 4px 2px hsl(233, 46%, 55%);
}
.top-button2:hover{
    background-color: #8896FF;
}

/* snipper section start here */

.snipper-parent{
    width: 55%;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
}

.snipper-parent h2{
    font-size: 35px;
    color: hsl(210, 10%, 33%);
    margin: 50px 0 20px 0;
}
.snipper-parent p{
    color: hsl(201, 11%, 66%);
    font-size: 20px;
    line-height: 1.5;
}

/* pc section code start here */

.pc-parent{
    margin: 20px 0;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.pc-img{
    width: 100%;
    height: 100%;
}
.pc-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px 60px;
}
.pc-text h2{
    gap: 25px;
    font-size: 25px;
}

/* access section code start here */

.access-parent{
    text-align: center;
}

.access-title{    
    margin: 120px 0 100px 0;
}
.access-title h2{
    font-size: 40px;
}
.access-title p{
    margin-top: 20px;
    line-height: 1.5;
}

/* workflow section start here */
.workflow-parent{
    text-align: center;
    margin: 70px 0;
}
.workflow-title{
    margin: 50px 0;
}
.workflow-title h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.workflow-card{
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.workflow-icon{
    padding: 50px 0;
}

.workflow-card h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.workflow-card p{
    font-size: 17px;
    line-height: 1.8;
}

/* branding section start here */
.brand{
    width: 80%;
    margin: auto;
}

.brand-img{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 150px 0;
}

/* Clipboard secrion start here */

/* auto generated by older element */


.snipper-parent{
    margin-bottom: 50px;
}

/* Footer section start */

footer{
    background-color: #F5F6F8;
}

.footer-container{
    display: 80%;
    padding: 50px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.footer-logo img{
    width: 60px;
}

.footer-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}
.footer-card p{
    color:hsl(210, 10%, 33%);
}

.footer-card p:hover{
    color: hsl(171, 66%, 44%);
}

.social{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.social i{
    font-size: 30px;
    align-self: center;
    color: hsl(210, 10%, 33%);
}
.social i:hover{
    color: hsl(171, 66%, 44%);
}